
<script>
  const popUp = document.querySelector('.pop-up');
  const popUpBtn = document.querySelector('.pop-up .delete');

  popUpBtn.addEventListener('click', () => {
    popUp.classList.toggle('is-active');
  });

</script>
</body>
</html>