.section.is-small {
  padding: 1.5rem;
}

.pop-up {
  position: absolute;
  z-index: 999;
  width: 50%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all .4s;
}

.pop-up.is-active {
  opacity: 0;
  visibility: hidden;

}