<% include ../partials/head %>

<header class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome to Campground page</h1>
      <h2 class="subtitle">View our handed-picked camp</h2>
      <a href="/campgrounds/new" class="button is-primary is-inverted">Add campground</a>
    </div>
  </div>
</header>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% campgrounds.forEach(campground => { %>
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="<%= campground.image %>" alt="<%= campground.name %>">
              </figure>
            </div>
            <div class="card-content">
              <h3 class="title is-5"><%= campground.name %></h3>
              <a href="/campgrounds/<%= campground._id %>">Read More</a>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>
<% include ../partials/footer %>